body {
	font-family: $FONT_PRIMARY;
}

h2 {
	font-size: 2.8rem;
	color: $COLOR_LOGO;
	letter-spacing: 0.4em;
	font-weight: 300;
}

h3 {
	font-size: 2.8rem;
	color: $COLOR_HEADER;
	letter-spacing: 0.15em;
	font-weight: 300;

	&:after {content: "."}
}

h4 {
	font-size: 1.4rem;
	color: $COLOR_LOGO;
	letter-spacing: 0.4em;
	font-weight: 300;
}

p {
	font-size: 2rem;
	color: $COLOR_PARAGRAPH;
	font-weight: 300;
}

.section-header {
	user-select: none;
	position: absolute;
	top: -5rem;

	font-size: 15rem;
	@include respond(tab-port) {
		top: 0rem;
		font-size: 10rem;
	}
	color: $COLOR_SECTION_HEADER;
	font-weight: 300;
}

.bold {
	font-weight: 400;
}

.construction {
	background: repeating-linear-gradient(
		45deg,
		$COLOR_CONSTRUCTION1,
		$COLOR_CONSTRUCTION1 10px,
		$COLOR_PRIMARY 10px,
		$COLOR_PRIMARY 20px
	);
	& > p {

	}
}