@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$FONT_PRIMARY: 'Open Sans', sans-serif;

$COLOR_PRIMARY: #FFF4F4;
$COLOR_PRIMARY_SHADOW: rgba(255, 169, 169, .25); //#FFA9A9

$COLOR_HEADER: rgba(255, 108, 108, .77); //#FF6C6C
$COLOR_PARAGRAPH: #4B4B4B;
$COLOR_LINKS: #7F7F7F;

$COLOR_GREY: rgba(198, 198, 198, .74); //#C6C6C6
$COLOR_GREY_LIGHT: rgba(235, 235, 235, .83); //#EBEBEB