.u-margin-bottom-sm { margin-bottom: 3rem !important; }
.u-margin-bottom-md { margin-bottom: 5rem !important; }
.u-margin-bottom-lg { margin-bottom: 8rem !important; }

.u-margin-top-sm { margin-top: 3rem !important; }
.u-margin-top-md { margin-top: 5rem !important; }
.u-margin-top-lg { margin-top: 8rem !important; }

.u-margin-left-sm { margin-left: 3rem !important; }
.u-margin-left-md { margin-left: 5rem !important; }
.u-margin-left-lg { margin-left: 8rem !important; }

.u-margin-right-sm { margin-right: 3rem !important; }
.u-margin-right-md { margin-right: 5rem !important; }
.u-margin-right-lg { margin-right: 8rem !important; }

.u-float-right { 
	float: right !important;
	margin-right: 10rem !important;
}
