.u-margin-bottom-sm { margin-bottom: 3rem !important; }
.u-margin-bottom-med { margin-bottom: 5rem !important; }
.u-margin-bottom-lg { margin-bottom: 8rem !important; }

.u-margin-top-sm { margin-top: 3rem !important; }
.u-margin-top-med { margin-top: 5rem !important; }
.u-margin-top-lg { margin-top: 8rem !important; }

.u-float-right { 
	float: right !important;
	margin-right: 10rem !important;
}