@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

$FONT_PRIMARY: 'Open Sans', sans-serif;

$COLOR_PRIMARY: #FFF4F4;
$COLOR_PRIMARY_SHADOW: rgba(255, 169, 169, .25); //#FFA9A9

$COLOR_SECTION_HEADER: rgba(255, 169, 169, .20); //#FFA9A9
$COLOR_HEADER: rgba(255, 108, 108, .77); //#FF6C6C
$COLOR_PARAGRAPH: #4B4B4B;
$COLOR_LINKS: #7F7F7F;
$COLOR_LOGO: #999;

$COLOR_GREY_DARK: #C4C4C4;
$COLOR_GREY: rgba(175, 175, 175, .74); //#AFAFAF
$COLOR_GREY_LIGHT: rgba(235, 235, 235, .83); //#EBEBEB