/* --- 
----- SIDEBAR CONTAINER*/
.sidebar {
	position: relative;
	//width: 25%;
	min-width: 40.7rem;
	height: 100%;

    background-color: $COLOR_PRIMARY;
	box-shadow: 12px 0px 0px $COLOR_PRIMARY_SHADOW;

	text-transform: uppercase;

    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	@include transition_default;

	@include respond(tab-land) {
		min-width: 33rem;
	}
	@include respond(tab-port) {
		width: 0rem;
		min-width: 0rem;

		& * {
			display: none;
		}
	}

	/*FULL SCREEN THIS BABY*/
    &--active {
		width: 95%;
		min-width: 95%; // needed to fix transition
		height: 95%;
		margin: auto;
		box-shadow: 12px 12px 0px $COLOR_PRIMARY_SHADOW;

		@include respond(tab-port) {
			width: 100%;
			min-width: 100%;
			height: 100%;
			box-shadow: 0 0 0 0;

			& * {
				display: block;
			}
		}
		
		& + .content-container {
			margin: 0;
			padding: 0;
			width: 0;
		}
	}

	/*SIDEBAR TOGGLE*/
	&__button {
		display: none;

		@include respond(tab-port) {
			display: block;
			position: absolute;
			top: 1rem;
			right: 2rem;
			height: 7rem;
			width: 7rem;
			border-radius: 50%;
			z-index: 2000;
			text-align: center;

			cursor: pointer;
			background-color: transparent;

			//box-shadow: 0 1rem 3rem rgba(#000, .1);
		}
}

	&__icon {
		display: none;

		@include respond(tab-port) {
			display: inline;
			position: relative;
			margin-top: 3.5rem;

			&,
			&::before,
			&::after {
				width: 3rem;
				height: 2px;
				background-color: $COLOR_LOGO;
				display: inline-block;
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 0;
				transition: all .2s;
			}

			&::before {
				top: -.8rem;
			}

			&::after {
				top: .8rem;
			}

			&--active {
				background-color: transparent;

				&::before {
					top: 0;
					transform: rotate(-135deg);
				}

				&::after {
					top: 0;
					transform: rotate(135deg);
				}
			}
		}
	}
}

/* --- 
----- LOGO CONTAINER*/
.logo {
	text-align: center;
	padding-top: 5rem;
}

/* --- 
----- LABELS CONTAINER*/
.labels {
	list-style-type: none;
	width: 40.7rem;

	//Match <li> and <ul> width with sidebar when sidebar is not active
	:not(.sidebar--active) > & {
		width: 100%;
		& > .labels__item {
			width: 100%;
		}
	}

	&__item {
		display: block;
		position: relative;
		width: 100%;
		height: 5.5rem;
		cursor: pointer;
		overflow: hidden;

		@include transition_default;

		&--active {
			background-color: $COLOR_GREY_DARK;
			& > .labels__link {
				color: white !important;
			}
		}

		&--construction {
			background: repeating-linear-gradient(
				45deg,
				$COLOR_CONSTRUCTION1,
				$COLOR_CONSTRUCTION1 10px,
				$COLOR_PRIMARY 10px,
				$COLOR_PRIMARY 20px
			);

		}

		&:not(:last-child) {
			margin-bottom: .8rem;
		}

		&:hover > .labels__link--invisible {
			top: 1.8rem;
			color: #3a2a2a;
		}

		&:hover:not(.labels__item--active) {
			background-color: $COLOR_GREY_LIGHT;

			& > .labels__link {
				right: 6.3rem;
				bottom: 1.7rem;
			}
		}
	}

	&__link {
		position: absolute;
		right: 4.2rem;
		bottom: 1rem;

		color: $COLOR_LOGO;
		font-size: 1.4rem;
		letter-spacing: .3em;
		text-decoration: none;

		@include transition_default;

		&--invisible {
			position: absolute;
			left: .3rem;
			top: -100%;
		}

	}
}

/* --- 
----- LINKS CONTAINER*/
.links {
	text-align: center;

	&__link:link,
	&__link:visited {
		&:first-child {
			margin-bottom: 2.6rem;
			letter-spacing: 0.15em;
		}

		display: block;

		color: $COLOR_LINKS;
		font-size: 1.4rem;
		letter-spacing: 0.25em;
		text-decoration: none;
	}
}